version: '3.5'
volumes:
  data:
  certs:
    external:
      name: traefik_certs
networks:
  http:
{% if use_ldap==1 %}
  ldap_auth:
    external: true
{% endif %}
  public:
    external: true

services:
  prosody:
    image: {{ prosody_image }}
    environment:
      PROSODY_ADMINS: "{{ email|quote }}"
      PROSODY_HOST: "{{ domain }}"
      ENABLE_BOSH: "yes"
{% if use_ldap==1 %}
      LDAP_SERVER: "ldap"
      LDAP_BASE: "{{ ldap_base }}"
      LDAP_ROOT_DN: "cn=admin,{{ ldap_root }}"
      LDAP_ADMIN_PASSWORD: "{{ admin_password }}"
{% endif %}
    ports:
      - 5222:5222
      - 5269:5269
#      - 5281:5281
    volumes:
      - data:/var/lib/prosody
      - certs:/etc/prosody/certs:ro
    networks:
    - http
{% if use_ldap==1 %}
    - ldap_auth
{% endif %}
    - public
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.services.{{ stack }}.loadbalancer.server.port=5280
{% if domain_wildcard!=1 %}
        - traefik.http.routers.{{ stack }}.rule=Host(`{{ domain }}`) && PathPrefix(`/http-bind`)
{% else %}
        - traefik.http.routers.{{ stack }}.rule=Host(`xmpp.{{ domain }}`) && PathPrefix(`/http-bind`)
{% endif %}
{% if domain_use_tls==1 %}
        - traefik.http.routers.{{ stack }}.tls=true
        - traefik.http.routers.{{ stack }}.tls.certresolver=le
        - traefik.http.routers.{{ stack }}.entrypoints=websecure
{% else %}
        - traefik.http.routers.{{ stack }}.entrypoints=web
{% endif %}
