worker_processes  8;

pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

#    access_log  /var/log/nginx/access.log  main;
    gzip_static on;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    server {
   	listen 80;
        root /var/web/html;
        index index.php;
        server_name {{ domain }};

        charset utf-8;
        location ~ ^/.*\.php(/|$) {
            expires off; # do not cache dynamic content
            fastcgi_pass fusiondirectory:9000;
            fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
            fastcgi_param DOCUMENT_ROOT $realpath_root;
            include /etc/nginx/fastcgi_params; # see /etc/nginx/fastcgi_params
        }

    }
}
