version: '3.5'
networks:
  hubzilla:
  public:
    external: true
{% if use_ldap==1 %}
  ldap_auth:
    external: true
{% endif %}
{% if use_xmpp==1 %}
  prosody_http:
    external: true
{% endif %}
volumes:
  voldb:
  volweb:
configs:
  nginx:
    file: nginx.conf

services:
  postgres:
    image: {{ postgres_image }}
    environment:
      POSTGRES_PASSWORD: {{ hubzilla_db_pass }}
      POSTGRES_USER: {{ hubzilla_db_user }}
      POSTGRES_DB: {{ hubzilla_db_name }}
    volumes:
      - voldb:/var/lib/postgresql/data
    networks:
    - hubzilla

  redis:
    image: {{ redis_image }}
    networks:
      - hubzilla

  nginx:
    image: {{ nginx_image }}
    configs:
      - source: nginx
        target: /etc/nginx/nginx.conf
    volumes:
      - volweb:/var/www/html
    networks:
      - hubzilla
      - public
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.middlewares.compress.compress=true
        - traefik.http.routers.{{ stack }}.middlewares=compress
        - traefik.http.services.{{ stack }}.loadbalancer.server.port=80
{% if domain_wildcard!=1 %}
        - traefik.http.routers.{{ stack }}.rule=Host(`{{ domain }}`)
{% else %}
        - traefik.http.routers.{{ stack }}.rule=Host(`hub.{{ domain }}`)
{% endif %}
{% if domain_use_tls==1 %}
        - traefik.http.routers.{{ stack }}.tls=true
        - traefik.http.routers.{{ stack }}.tls.certresolver=le
        - traefik.http.routers.{{ stack }}.entrypoints=websecure
        - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
{% if domain_wildcard!=1 %}
        - traefik.http.routers.redirect-{{ stack }}.rule=Host(`{{ domain }}`)
{% else %}
        - traefik.http.routers.redirect-{{ stack }}.rule=Host(`hub.{{ domain }}`)
{% endif %}
        - traefik.http.routers.redirect-{{ stack }}.middlewares=redirect-to-https
        - traefik.http.routers.redirect-{{ stack }}.entrypoints=web
{% else %}
        - traefik.http.routers.{{ stack }}.entrypoints=web
{% endif %}

  hubzilla:
    image: {{ hubzilla_image }}
    depends_on:
      - postgres
      - nginx
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_TYPE: pgsql
      DB_NAME: {{ hubzilla_db_name }}
      DB_USER: {{ hubzilla_db_user }}
      DB_PASSWORD: {{ hubzilla_db_pass }}
      REDIS_PATH: tcp://redis
{% if domain_wildcard!=1 %}
      HUBZILLA_DOMAIN: "{{ domain }}"
{% else %}
      HUBZILLA_DOMAIN: "hub.{{ domain }}"
{% endif %}
      HUBZILLA_ADMIN: "{{ email }}"
{% if use_ldap==1 %}
      LDAP_SERVER: "ldap"
      LDAP_BASE: "{{ ldap_base }}"
      LDAP_ROOT_DN: "cn=admin,{{ ldap_root }}"
      LDAP_ADMIN_PASSWORD: "{{ admin_password }}"
{% endif %}
      ADDON_LIST: "nsfw superblock content_import gallery gnusoc diaspora pubcrawl {% if use_ldap==1 %}ldapauth{% endif %} {% if use_xmpp==1 %}xmpp{% endif %}"
    networks:
      - hubzilla
{% if use_ldap==1 %}
      - ldap_auth
{% endif %}
    volumes:
      - volweb:/var/www/html
  cron:
    image: sebt3/hubzilla:4.6
    depends_on:
      - postgres
    command: ["crond", "-f"]
    networks:
      - hubzilla
    volumes:
      - volweb:/var/www/html

